@font-face {
    font-family: OptimusPrinceps;
    src: url("fonts/OptimusPrinceps.ttf");
}

@font-face {
    font-family: Pixel;
    src: url("fonts/pixel.ttf");
}

h1 {
    font-family: Pixel;

}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
}

span {
    opacity: 0;
    margin: 0 0 100px 0;
    font-family: OptimusPrinceps;
    font-size: 50px;
    letter-spacing: 5px;
    color: rgb(173, 0, 0);
    transition: ease-in-out 3s;
}

.pudge {
    opacity: 0;
    z-index: 5;
}

.pudge:hover {
    cursor: pointer;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#score {
    font-size: large;
    height: 70px;
    width: 500px;
    display: flex;
    justify-content: center;
    z-index: 4444;
}

p {
    margin: 0;
    font-family: Pixel;
    font-size: 35px;
    color: white;
}

#retryBtn:hover {
    cursor: pointer;
}

.gameOver {
    visibility: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    flex-direction: column;
    z-index: 5555;
    background: black;
    display: flex;
}

#died {
    font-family: OptimusPrinceps;
    font-size: 120px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(173, 0, 0);
    opacity: 0;
    transition: ease-in-out 3s;
    padding-bottom: 100px;
}

.okay {
    cursor: pointer;
    font-family: OptimusPrinceps;
    font-size: 70px;
    letter-spacing: 5px;
    padding-left: 35px;
    padding-bottom: 35px;
    transition: ease-in-out 5s;
    border: 3px solid black;
    opacity: 0;
    color: rgb(173, 0, 0);
}

#life, .pudgeses, #retryBtn, #volume {
    position: relative;
    z-index: 4444;
}

#danceTop, #danceBot, #danceLeft, #danceRight {
    position: absolute;
    z-index: 5;
    opacity: 0;
}

.dancingLeft, .dancingRight {
    display: flex;
    flex-direction: column;
}

#danceRight {
    right: 0;
}

#danceLeft {
    left: 0;
}

#danceTop {
    top: 0;
}

#danceBot {
    bottom: 0;
}

.dancingPudge {
    height: auto;
}

.leaderboard {
    opacity: 0;
    color: rgb(173, 0, 0);
    font-size: 50px;
    transition: ease-in-out 4s;
    font-family: OptimusPrinceps;
}

.leadertable {
    width: 100%;
    height: 100%;
    background: #151515;
}

.col {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.row {
    font-size: 40px;
    font-family: OptimusPrinceps;
    color: grey;
    min-width: 300px;
}

ol {
    list-style-type: decimal;
    color: rgb(173, 0, 0);
    font-size: 40px;
    padding: 100px;
}

.play {
    position: absolute;
    bottom: 0;
    width: 100vw;
    font-size: 60px;
    font-family: Pixel;
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background: black;
    text-decoration: none;
}

.you {
    color: rgb(173, 0, 0);
}